<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Edit medicine</title>
</head>
<body>
    <h1>Edit medicine</h1>
    <form action="/medicine/update/<%= medicine.id %>" method="POST">
        <div>
            <label for="atcClassification">ATC classification:</label>
            <input type="text" id="atcClassification" name="atcClassification" value="<%= medicine.atcClassification %>" required>
        </div> <br>
        <div>
            <label for="medicinalProducts">Medical product:</label>
            <input type="text" id="medicinalProducts" name="medicinalProducts" value="<%= medicine.medicinalProducts %>" required>
        </div><br>
        <div>
            <label for="dosageForms">Dosage form:</label>
            <input type="text" id="dosageForms" name="dosageForms" value="<%= medicine.dosageForms %>" required>
        </div><br>
        <div>
            <label for="atcCode">ATC code:</label>
            <input type="text" id="atcCode" name="atcCode" value="<%= medicine.atcCode %>" required>
        </div><br>
        <div>
            <label for="productName">Product name:</label>
            <input type="text" id="productName" name="productName" value="<%= medicine.productName %>" required>
        </div><br>
        <div>
            <label for="imageOfProduct">Image of product:</label>
            <input type="text" id="imageOfProduct" name="imageOfProduct" value="<%= medicine.imageOfProduct %>" required>
        </div><br>
        <div>
            <label for="symptoms">Symptoms:</label>
            <input type="text" id="symptoms" name="symptoms" value="<%= medicine.symptoms %>" required>
        </div><br>
        <div>
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" value="<%= medicine.description %>" required>
        </div><br>
     
        <button type="button" onclick="window.location.href='/'" class="btn">Home</button>
    </form>
</body>
</html> -->